<div class="container">
  <div class="row">
    <div class="col-sm-4" color="blue">
      <h3>1</h3>
      <p >“Lis avec lenteur à une époque où l'on nous parle de lecture rapide et de lecture en diagonale.”</p>
      <p>“La lecture encombre la mémoire et empêche de penser.”</p>
    </div>
    <div class="col-sm-4" color="red">
      <h3>2</h3>
      <p>“Lis avec lenteur à une époque où l'on nous parle de lecture rapide et de lecture en diagonale.”</p>
      <p>“La lecture encombre la mémoire et empêche de penser.”</p>
    </div>
    <div class="col-sm-4" color="green">
      <h3>3</h3>
      <p>“La lecture est à l'esprit ce que l'exercice est au corps.”</p>
      <p>“Trop de lecture peut étouffer le génie.”</p>
    </div>
  </div>
</div>
